In [1]:
# import libraries
from pyspark.sql import SparkSession

In [2]:
# create a spark session
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

# access the Spark UI by navigating to localhost:4040

### GroupBy

In [3]:
# load green taxi trip data parquet files
df_green = spark.read.parquet('data/pq/green/*/*')

# register green taxi trip dataframe as a table
df_green.registerTempTable('green')

c:\Users\rebek\.virtualenvs\data-engineering-zoomcamp-erqhPacM\Lib\site-packages\pyspark\sql\dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [4]:
# execute a group by
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [5]:
# display the query results
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-01 03:00:00| 181|315.61000000000007|            14|
|2020-01-05 01:00:00|  42|163.10000000000005|            14|
|2020-01-06 13:00:00|  22|            337.62|             6|
|2020-01-21 14:00:00|  33|            571.46|            29|
|2020-01-06 14:00:00| 122|            110.26|             2|
|2020-01-19 17:00:00|  41| 488.8400000000001|            38|
|2020-01-08 09:00:00| 210|184.07999999999998|            10|
|2020-01-23 21:00:00| 129| 84.77999999999999|             9|
|2020-01-12 22:00:00| 181|284.01000000000005|            15|
|2020-01-05 16:00:00|  97|498.45000000000016|            39|
|2020-01-23 14:00:00| 185|             31.75|             2|
|2020-01-20 13:00:00| 166| 318.9400000000001|            24|
|2020-01-31 23:00:00|  76| 67.74000000000001|             2|
|2020-01-13 23:00:00| 226|             69.65|             3|
|2020-01-15 09:00:00| 235|108.08000000000001|             4|
|2020-01-16 18:00:00|  82| 727.1499999999999|            54|
|2020-01-15 20:00:00|  74| 738.8299999999998|            51|
|2020-01-22 16:00:00| 152|             72.92|             5|
|2020-01-08 18:00:00| 223|185.20000000000002|            20|
|2020-01-17 11:00:00|  33|390.32000000000016|            22|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [6]:
# parition and write the query results
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

In [7]:
# load yellow taxi trip data parquet files
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

# register yellow taxi trip dataframe as a table
df_yellow.registerTempTable('yellow')

# execute a group by
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

# parition and write the query results
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

### OrderBy

In [8]:
# execute a group by followed by order by
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
ORDER BY
    1, 2
""")

# display the query results
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-01 00:00:00|   7| 769.7299999999997|            45|
|2020-01-01 00:00:00|  17|            195.03|             9|
|2020-01-01 00:00:00|  18|               7.8|             1|
|2020-01-01 00:00:00|  22|              15.8|             1|
|2020-01-01 00:00:00|  24|              87.6|             3|
|2020-01-01 00:00:00|  25|             531.0|            26|
|2020-01-01 00:00:00|  29|              61.3|             1|
|2020-01-01 00:00:00|  32| 68.94999999999999|             2|
|2020-01-01 00:00:00|  33|            317.27|            11|
|2020-01-01 00:00:00|  35|            129.96|             5|
|2020-01-01 00:00:00|  36|295.34000000000003|            11|
|2020-01-01 00:00:00|  37|175.67000000000002|             6|
|2020-01-01 00:00:00|  38| 98.78999999999999|             2|
|2020-01-01 00:00:00|  40|168.98000000000002|             8|
|2020-01-01 00:00:00|  41| 1363.959999999999|            84|
|2020-01-01 00:00:00|  42| 799.7599999999996|            52|
|2020-01-01 00:00:00|  43|107.52000000000001|             6|
|2020-01-01 00:00:00|  47|              13.3|             1|
|2020-01-01 00:00:00|  49|            266.76|            14|
|2020-01-01 00:00:00|  51|              17.8|             2|
+-------------------+----+------------------+--------------+
only showing top 20 rows

### Joins

#### join two large tables

In [9]:
# read green and yellow revenue report parquet files
df_green_revenue = spark.read.parquet('data/report/revenue/green')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow')

In [10]:
# add the service type as a prefix to 'amount' and 'number_records' fields in both dataframes
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [11]:
# join both the dataframes on 'hour' and 'zone' fields
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [12]:
# display the joined dataframe
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|  36|295.34000000000003|                  11|            109.17|                    3|
|2020-01-01 00:00:00|  43|107.52000000000001|                   6|  6539.51000000001|                  390|
|2020-01-01 00:00:00|  68|              NULL|                NULL| 7825.070000000012|                  396|
|2020-01-01 00:00:00|  83|              94.1|                   7|               9.8|                    1|
|2020-01-01 00:00:00| 145|             65.14|                   4|            365.87|                   18|
|2020-01-01 00:00:00| 148|              NULL|                NULL| 6790.150000000003|                  371|
|2020-01-01 00:00:00| 159|              13.8|                   1|              58.8|                    2|
|2020-01-01 00:00:00| 201|             77.32|                   2|              NULL|                 NULL|
|2020-01-01 00:00:00| 202|              NULL|                NULL|              10.3|                    1|
|2020-01-01 00:00:00| 235|41.900000000000006|                   3|              11.8|                    1|
|2020-01-01 00:00:00| 247|117.66000000000001|                   5|               9.3|                    1|
|2020-01-01 00:00:00| 261|              NULL|                NULL|1013.9400000000003|                   51|
|2020-01-01 01:00:00|  36|192.41000000000003|                   9|            519.38|                   20|
|2020-01-01 01:00:00|  45|              NULL|                NULL|            898.44|                   49|
|2020-01-01 01:00:00|  53|              4.94|                   1|              NULL|                 NULL|
|2020-01-01 01:00:00|  79|              NULL|                NULL|14009.380000000034|                  727|
|2020-01-01 01:00:00|  90|              NULL|                NULL| 4326.069999999999|                  231|
|2020-01-01 01:00:00| 101|              30.3|                   1|              NULL|                 NULL|
|2020-01-01 01:00:00| 114|              NULL|                NULL| 3159.419999999999|                  164|
|2020-01-01 01:00:00| 183|              27.0|                   1|             24.21|                    1|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [13]:
# save the joined dataset as parquet file
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

#### join a large dataframe with a small dataframe

In [14]:
# read joined revenue report
df_join = spark.read.parquet('data/report/revenue/total')

In [15]:
# display the schema of the dataframe
df_join

DataFrame[hour: timestamp, zone: int, green_amount: double, green_number_records: bigint, yellow_amount: double, yellow_number_records: bigint]

In [16]:
# read taxi zones data
df_zones = spark.read.parquet('data/zones/')

In [17]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [18]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [19]:
df_result.drop('LocationID', 'zone').show()

+-------------------+------------------+--------------------+------------------+---------------------+---------+------------+
|               hour|      green_amount|green_number_records|     yellow_amount|yellow_number_records|  Borough|service_zone|
+-------------------+------------------+--------------------+------------------+---------------------+---------+------------+
|2020-01-01 00:00:00| 769.7299999999997|                  45| 455.1700000000001|                   38|   Queens|   Boro Zone|
|2020-01-01 00:00:00|              NULL|                NULL|             42.41|                    2|   Queens|   Boro Zone|
|2020-01-01 00:00:00|              NULL|                NULL|              19.3|                    1| Brooklyn|   Boro Zone|
|2020-01-01 00:00:00|175.67000000000002|                   6|161.60999999999999|                    7| Brooklyn|   Boro Zone|
|2020-01-01 00:00:00| 98.78999999999999|                   2|              NULL|                 NULL|   Queens|   Boro Zone|
|2020-01-01 00:00:00|            160.04|                   6|57.620000000000005|                    2|    Bronx|   Boro Zone|
|2020-01-01 00:00:00|              NULL|                NULL| 2456.669999999999|                  112|Manhattan| Yellow Zone|
|2020-01-01 00:00:00|              NULL|                NULL| 823.8000000000002|                   36|Manhattan| Yellow Zone|
|2020-01-01 00:00:00|              NULL|                NULL|            210.28|                    3|   Queens|   Boro Zone|
|2020-01-01 00:00:00|              NULL|                NULL| 473.6700000000001|                   24|Manhattan| Yellow Zone|
|2020-01-01 00:00:00|             34.17|                   2|              NULL|                 NULL| Brooklyn|   Boro Zone|
|2020-01-01 00:00:00|              NULL|                NULL| 2745.879999999999|                   72|   Queens|    Airports|
|2020-01-01 00:00:00|              NULL|                NULL| 4622.289999999999|                  268|Manhattan| Yellow Zone|
|2020-01-01 00:00:00|              NULL|                NULL|           5448.93|                  292|Manhattan| Yellow Zone|
|2020-01-01 00:00:00|              18.1|                   2|              NULL|                 NULL| Brooklyn|   Boro Zone|
|2020-01-01 00:00:00|            546.36|                  18|             36.11|                    1|   Queens|   Boro Zone|
|2020-01-01 00:00:00|              NULL|                NULL| 7890.140000000016|                  464|Manhattan| Yellow Zone|
|2020-01-01 00:00:00|              NULL|                NULL| 4599.189999999999|                  219|Manhattan| Yellow Zone|
|2020-01-01 00:00:00| 296.6200000000001|                  13|            451.51|                   22| Brooklyn|   Boro Zone|
|2020-01-01 01:00:00|              NULL|                NULL|2288.6999999999994|                  114|Manhattan| Yellow Zone|
+-------------------+------------------+--------------------+------------------+---------------------+---------+------------+
only showing top 20 rows

In [21]:
df_result.drop('LocationID', 'zone').write.parquet('data/tmp/revenue-zones', mode='overwrite')