In [1]:
# import libraries
from pyspark.sql import SparkSession

In [2]:
# create a spark session
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

# access the Spark UI by navigating to localhost:4040

### GroupBy

In [3]:
# load green taxi trip data parquet files
df_green = spark.read.parquet('data/pq/green/*/*')

# register green taxi trip dataframe as a table
df_green.registerTempTable('green')

c:\Users\rebek\.virtualenvs\data-engineering-zoomcamp-erqhPacM\Lib\site-packages\pyspark\sql\dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [4]:
# execute a group by
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [5]:
# display the query results
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-01 03:00:00| 181|315.61000000000007|            14|
|2020-01-05 01:00:00|  42|163.10000000000005|            14|
|2020-01-06 13:00:00|  22|            337.62|             6|
|2020-01-21 14:00:00|  33|            571.46|            29|
|2020-01-06 14:00:00| 122|            110.26|             2|
|2020-01-19 17:00:00|  41| 488.8400000000001|            38|
|2020-01-08 09:00:00| 210|184.07999999999998|            10|
|2020-01-23 21:00:00| 129| 84.77999999999999|             9|
|2020-01-12 22:00:00| 181|284.01000000000005|            15|
|2020-01-05 16:00:00|  97|498.45000000000016|            39|
|2020-01-23 14:00:00| 185|             31.75|             2|
|2020-01-20 13:00:00| 166| 318.9400000000001|            24|
|2020-01-31 23:00:00|  76| 67.74000000000001|             2|
|2020-01-13 23:00:00| 226|             69.65|             3|
|2020-01-15 09:00:00| 235|108.08000000000001|             4|
|2020-01-16 18:00:00|  82| 727.1499999999999|            54|
|2020-01-15 20:00:00|  74| 738.8299999999998|            51|
|2020-01-22 16:00:00| 152|             72.92|             5|
|2020-01-08 18:00:00| 223|185.20000000000002|            20|
|2020-01-17 11:00:00|  33|390.32000000000016|            22|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [6]:
# parition and write the query results
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

In [7]:
# load yellow taxi trip data parquet files
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

# register yellow taxi trip dataframe as a table
df_yellow.registerTempTable('yellow')

# execute a group by
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

# parition and write the query results
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

### OrderBy

In [8]:
# execute a group by followed by order by
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
ORDER BY
    1, 2
""")

# display the query results
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-01 00:00:00|   7| 769.7299999999997|            45|
|2020-01-01 00:00:00|  17|            195.03|             9|
|2020-01-01 00:00:00|  18|               7.8|             1|
|2020-01-01 00:00:00|  22|              15.8|             1|
|2020-01-01 00:00:00|  24|              87.6|             3|
|2020-01-01 00:00:00|  25|             531.0|            26|
|2020-01-01 00:00:00|  29|              61.3|             1|
|2020-01-01 00:00:00|  32| 68.94999999999999|             2|
|2020-01-01 00:00:00|  33|            317.27|            11|
|2020-01-01 00:00:00|  35|            129.96|             5|
|2020-01-01 00:00:00|  36|295.34000000000003|            11|
|2020-01-01 00:00:00|  37|175.67000000000002|             6|
|2020-01-01 00:00:00|  38| 98.78999999999999|             2|
|2020-01-01 00:00:00|  40|168.98000000000002|             8|
|2020-01-01 00:00:00|  41| 1363.959999999999|            84|
|2020-01-01 00:00:00|  42| 799.7599999999996|            52|
|2020-01-01 00:00:00|  43|107.52000000000001|             6|
|2020-01-01 00:00:00|  47|              13.3|             1|
|2020-01-01 00:00:00|  49|            266.76|            14|
|2020-01-01 00:00:00|  51|              17.8|             2|
+-------------------+----+------------------+--------------+
only showing top 20 rows